[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
django = "==2.2"
whitenoise = "*"
django-heroku = "*"
gunicorn = "*"
django-markdownx = "*"
markdownify = "*"

[requires]
python_version = "3.7"
