{% extends 'blog/base.html' %}

{% block content %}
      <section class="section">
        <div class="container grid">
          {% for post in posts %}
          <div>
              <br>
              <p>{{ post.published_date }}</p>
                <h2 class="subtitle"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
              <div class="content">{{ post.formatted_markdown|safe }}</div>
              <br>
          </div>
          {% endfor %}
        </div>
      </section>
{% endblock %}
